.header {
  display: flex;
  max-width: 1184px;
  background-color: #ebf3f9;
  margin: 0 auto 40px auto;
  height: 600px;
  justify-content: space-between;
  border-radius: 40px;
}

.header .heroDescription {
  max-width: 510px;
  padding: 40px;
  padding-right: 10px;
}

.header .heroDescription h1 {
  font-weight: 900;
  font-size: 54px;
  line-height: 62px;
}

.header .heroDescription p {
  font-size: 16px;
  line-height: 30px;
  margin: 32px 0;
}

.header .heroDescription button {
  padding: 10px 44px;
  border: 1px solid #1756fd;
  margin-right: 40px;
  background-color: #1756fd;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
}

.header .heroDescription button:hover {
  box-shadow: 0 8px 10px #658effc9;
}

.header .heroDescription a {
  font-size: 16px;
  font-weight: 600;
  color: #979797;
}

.header .heroDescription a:hover {
  color: #000;
}

.header .heroImage {
  max-width: 600px;
  padding: 20px;
}

.header .heroImage img {
  max-width: 560px;
  height: auto;
}

.achievement {
  margin-left: auto;
  margin-right: auto;
  max-width: 1184px;
}

.achievement .achievement-header {
  display: flex;
}

.achievement .achievement-left {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.achievement .achievement-left .achievement-left-title {
  font-size: 35px;
  font-weight: bolder;
  margin-top: 25px;
}

.achievement .achievement-left .achievement-left-desc {
  font-size: 16px;
  color: #606266;
  line-height: 25px;
  padding-top: 12px;
  margin-bottom: 40px;
  opacity: 0.7;
  max-width: 550px;
}

.achievement .achievement-right {
  width: 50%;
}

.achievement .achievement-right .achievement-right-image {
  margin: 16px 16px 16px auto;
  max-width: 487px;
}

.achievement .achievement-label {
  margin: 16px;
  background-color: #f0f2f5;
  padding: 40px 40px;
  border-radius: 48px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.achievement .achievement-label .achievement-label-point {
  text-align: center;
  padding: 8px 16px;
}

.achievement .achievement-label .achievement-label-point h3 {
  font-size: 48px;
  line-height: 30px;
  margin: 28px 0;
  color: #1756fd;
  opacity: 0.7;
}

.achievement .achievement-label .achievement-label-point p {
  font-size: 16px;
  color: #303133;
  opacity: 0.7;
  text-align: center;
}

.achievement .achievement-label .achievement-label-point:not(:last-child) {
  border-right: 2px solid #638eff;
}

.howwework {
  margin-left: auto;
  margin-right: auto;
  max-width: 1184px;
  display: flex;
  padding: 150px 0;
}

.howwework .howwework-image {
  margin-top: 18px;
  margin-right: 20px;
}

.howwework .howwework-image img {
  width: 600px;
}

.howwework .howwework-text {
  margin-left: 32px;
}

.howwework .howwework-text .howwework-text-title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
  color: #303133;
  max-width: 394px;
}

.howwework .howwework-text .howwework-text-desc {
  font-size: 16px;
  color: #213053;
  line-height: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 420px;
  opacity: 0.7;
}

.howwework .howwework-text .howwework-text-desc-add {
  font-size: 20px;
  color: #213053;
  opacity: 0.7;
  max-width: 420px;
  letter-spacing: 0.5px;
}

.howwework .howwework-text .howwework-button {
  margin-top: 20px;
}

.howwework .howwework-text .howwework-button button {
  padding: 10px 44px;
  border: 1px solid #1756fd;
  margin-right: 40px;
  background-color: #1756fd;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  transition: 0.4s;
}

.howwework .howwework-text .howwework-button button:hover {
  box-shadow: 0 8px 10px #658effc9;
}

.fasility {
  margin-left: auto;
  margin-right: auto;
  max-width: 1184px;
}

.fasility .fasility-header {
  font-size: 35px;
  margin-bottom: 100px;
}

.fasility .fasility-group {
  display: flex;
  margin-bottom: 200px;
  justify-content: space-between;
}

.fasility .fasility-group .fasility-point {
  width: 17%;
}

.fasility .fasility-group .fasility-point-icon {
  margin-top: 32px;
}

.fasility .fasility-group .fasility-point-title {
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: bolder;
}

.fasility .fasility-group .fasility-point-desc {
  color: #213053;
  line-height: 1.5;
}

.collaboration {
  margin-left: auto;
  margin-right: auto;
  max-width: 1184px;
}

.collaboration .collaboration-title {
  margin-bottom: 48px;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.collaboration .collaboration-group {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
}

.collaboration .collaboration-point img {
  width: 200px;
}

@media (max-width: 991px) {
  .timeline {
    padding: 100px 0 100px;
    text-align: center;
    width: 100%;
  }

  .timeline .title-timeline {
    font-size: 20px;
  }

  .timeline .body-timeline {
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 0px;
  }

  .timeline .body-timeline .box-body-timeline {
    align-items: center;
    margin-bottom: 60px;
    max-width: 100vw;
  }

  .timeline .body-timeline .box-body-timeline .paragraph-desc-timeline::before {
    content: "";
  }

  .timeline .body-timeline .box-body-timeline::after {
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE1IiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgMTIyIDEyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMTAgNUw1LjA0NzM2ZS0wNyAwLjIyNjQ5N0wtNS4wNDczNmUtMDcgMTEuNzczNUwxMCA3TDEwIDVaTTEyMiA2LjAwMDAxTDExMiAwLjIyNjUwN0wxMTIgMTEuNzczNUwxMjIgNi4wMDAwMVpNOSA3TDExMyA3LjAwMDAxTDExMyA1LjAwMDAxTDkgNUw5IDdaIiBmaWxsPSIjNjM4RUZGIi8+Cjwvc3ZnPgo=);
    margin-top: 60px;
    transform: rotate(90deg);
  }

  .step-section {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .step-section .img-step {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .step-section .img-step img {
    width: 280px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }

  .step-section .text-step {
    width: 100%;
    margin: auto;
  }

  .step-section .text-step .text-step-group {
    max-width: 200px;
  }

  .fasility {
    width: 90%;
  }

  .fasility .fasility-header {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 100px;
    text-align: left;
    line-height: 1.5;
  }

  .fasility .fasility-group {
    display: flex;
    margin-bottom: 200px;
    flex-wrap: wrap;
  }

  .fasility .fasility-group .fasility-point {
    width: 100%;
    text-align: center;
  }

  .collaboration .collaboration-title {
    margin-bottom: 48px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
  }

  .collaboration .collaboration-group {
    display: flex;
    flex-wrap: wrap;
  }

  .collaboration .collaboration-point {
    text-align: center;
    align-content: center;
    width: 100%;
    margin-bottom: 40px;
  }

  .collaboration .collaboration-point img {
    width: 200px;
  }
}
