.hero {
  display: flex;
  max-width: 1184px;
  background-color: #ebf3f9;
  margin: 40px auto;
  height: 540px;
  justify-content: space-between;
  border-radius: 40px;
}

.hero .heroDescription {
  max-width: 510px;
  padding: 40px;
  padding-right: 10px;
}

.hero .heroDescription h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 62px;
}

.hero .heroDescription p {
  font-size: 16px;
  line-height: 30px;
  margin: 32px 0;
}

.hero .heroDescription button,
.secondaryHoWork button,
.information button {
  padding: 10px 44px;
  border: 1px solid #1756fd;
  margin-right: 40px;
  background-color: #1756fd;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
}

.hero .heroDescription button:hover,
.secondaryHoWork button:hover,
.information button:hover {
  box-shadow: 0 8px 10px #658effc9;
}

.hero .heroDescription a,
.tele .teleLink a {
  font-size: 16px;
  font-weight: 600;
  color: #979797;
}

.hero .heroDescription a:hover,
.tele .teleLink a:hover {
  color: #000;
}

.hero .heroImage {
  max-width: 600px;
  padding: 20px;
}

.hero .heroImage img {
  max-width: 560px;
  height: auto;
}

.heroBackgroundL {
  background-image: url("/assets/img/l.svg");
  position: absolute;
  left: 0;
  width: 500px;
  height: 500px;
  display: block;
  background-size: contain;
  text-size-adjust: 100%;
  z-index: -1;
}

.heroBackgroundR {
  background-image: url("/assets/img/r.svg");
  position: absolute;
  right: 0;
  width: 500px;
  height: 390px;
  display: block;
  background-size: contain;
  text-size-adjust: 100%;
  z-index: -1;
}

.hoWork {
  display: flex;
  max-width: 100vw;
  justify-content: space-around;
  height: 350px;
}

.mainHoWork {
  display: flex;
  width: 50vw;
  background: url("/assets/img/howork.svg"),
    linear-gradient(90deg, #1756fd 100%, #fff 0%);
  border-radius: 0 0 220px 0;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  justify-content: center;
  padding-left: 180px;
}

.mainHoWork h1 {
  font-size: 45px;
  line-height: 54px;
  color: #fff;
}

.secondaryHoWork {
  width: 50vw;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding-left: 180px;
  padding-right: 180px;
}

.secondaryHoWork p {
  font-size: 20px;
  color: #606266;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}

.secondaryHoWork button {
  width: 200px;
}

.tele {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.teleBackground {
  background-image: url("/assets/img/tele.svg");
  position: absolute;
  right: 0;
  width: 500px;
  height: 390px;
  display: block;
  background-size: contain;
  text-size-adjust: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position-x: right;
}

.tele h1 {
  max-width: 920px;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  margin-bottom: 40px;
}

.tele p {
  font-weight: 400;
  line-height: 30px;
  max-width: 920px;
  text-align: center;
  margin-bottom: 30px;
}

.tele .teleLink button {
  color: #1756fd;
  background-color: #fffffffe;
  width: 150px;
  height: 43px;
  padding: 10px 44px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #1756fd;
  transition: 0.5s;
  font-weight: 600;
  font-size: 14px;
  margin-right: 40px;
}

.tele .teleLink button:hover {
  background: #e8eeff;
  border: 1px solid #b9ccfe;
  transition: 0.5s;
}

.information .informationList {
  display: flex;
  justify-items: center;
  align-items: center;
  height: auto;
  padding: 90px 0;
}

.information .informationList.distinct .informationImage {
  order: -1;
  padding-left: 180px;
}

.information .informationList.distinct .informationDescription {
  padding: 0 180px 0 80px;
}

.information .informationList .informationDescription {
  width: 50vw;
  padding: 0 80px 0 180px;
}

.information .informationList .informationImage {
  width: 50vw;
}

.information .informationList .informationImage img {
  width: 37vw;
  height: auto;
}

.information .informationList .informationDescription h1 {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
  color: #303133;
  margin-bottom: 40px;
}

.information .informationList .informationDescription p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 30px;
}

.informationBg {
  background-image: url("/assets/img/information1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 11vw;
  width: 40vw;
  height: 600px;
  z-index: -1;
}

.informationBg.two {
  left: 12vw;
  width: 60vw;
  height: 600px;
}

.informationBg.three {
  height: 700px;
}

.consumersCooperations,
.appreciation {
  margin: 70px auto;
  max-width: 1184px;
  padding-bottom: 10px;
  height: 180px;
}

.media {
  margin: 70px auto;
  max-width: 1000px;
  padding-bottom: 10px;
  height: 180px;
}

.consumersCooperations h1,
.appreciation h1,
.media h1,
.media p {
  text-align: center;
  margin: 40px;
}

.Item {
  margin: 2.3%;
  width: 12%;
  float: left;
}

.Item img {
  width: 100%;
  height: auto;
}

@media (max-width: 991px) {
  .hero {
    margin: 0;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 40px 40px;
    height: auto;
  }
  .hero .heroDescription {
    width: 90vw;
    padding: 0;
    align-items: left;
  }

  .hero .heroDescription h1 {
    margin-top: 60px;
    line-height: 50px;
    font-size: 38px;
  }

  .hero .heroImage {
    margin-top: 20px;
  }
  .hero .heroImage img {
    max-width: 90vw;
  }
  .hoWork {
    flex-direction: column;
    height: auto;
  }
  .hoWork .mainHoWork {
    width: 98vw;
    padding: 150px 10px;
    background: none;
    background-color: #1756fd;
  }

  .hoWork .secondaryHoWork {
    width: 100vw;
    padding: 100px 0 0 100px;
  }

  .information .informationList {
    flex-direction: column;
  }
  .information .informationList .informationDescription,
  .information .informationList.distinct .informationDescription {
    width: 100vw;
    padding: 20px;
  }

  .information .informationList .informationDescription button {
    margin-bottom: 15px;
  }
  .information .informationList .informationImage {
    width: 60vw;
    margin-bottom: 80px;
  }

  .information .informationList .informationImage img {
    width: 60vw;
  }

  .information .informationList.distinct .informationImage {
    padding: 0;
  }

  .information .informationList.distinct .informationImage {
    order: 1;
  }

  .informationBg {
    right: 0;
    width: 100vw;
    height: 600px;
    margin-top: 340px;
    padding-top: 200px;
  }

  .informationBg.two {
    left: 0;
    right: 0;
    width: 100vw;
    height: 600px;
    margin-top: 400px;
    padding-top: 200px;
  }
}
