.consumersCooperations,
.appreciation {
  margin: 70px auto;
  max-width: 1184px;
  padding-bottom: 10px;
  height: 180px;
}

.media {
  margin: 70px auto;
  max-width: 1000px;
  padding-bottom: 10px;
  height: 180px;
}

.consumersCooperations h1,
.appreciation h1,
.media h1,
.media p {
  text-align: center;
  margin: 40px;
}

.Item {
  margin: 2.3%;
  width: 12%;
  float: left;
}

.Item img {
  width: 100%;
  height: auto;
}
