@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #000;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container-notification {
  background-color: #1756fd;
  min-height: 73px;
}

.notification {
  font-size: 15px;
  font-weight: 700;
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  padding-bottom: 28px;
  line-height: 16.1px;
  display: flex;
  align-items: center;
}

.notification p {
  color: #ffffff;
}

.notification p a {
  color: #ffd900;
}

.navbar {
  height: 110px;
  width: 100%;
  background-color: #ebf3f9;
  padding-top: 30px;
}

.navbar > .nav {
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
}

.navbar > .nav > .header-logo {
  float: left;
}

.navbar > .nav > .navbar-list-btn {
  float: right;
  margin-top: 4px;
  display: flex;
}

.navbar-list-btn > .navbar-list > li {
  display: inline-block;
  margin: 0 30px;
}

.navbar-list a {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}

.btn-nav {
  color: #1756fd;
  background-color: #fffffffe;
  width: 135px;
  height: 43px;
  padding: 10px 44px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #1756fd;
  transition: 0.5s;
  font-weight: 600;
  font-size: 14px;
}

.btn-nav:hover {
  background: #e8eeff;
  border: 1px solid #b9ccfe;
  transition: 0.5s;
}
#menu {
  display: none;
}

#myModal {
  position: fixed;
  width: 86vw;
  height: 100vh;
  background-color: #ffffff;
  right: 0;
  z-index: 999;
  display: none;
}

#myModal.show {
  display: flex;
  flex-direction: column;
}

#myModal.show a:nth-child(n) {
  padding: 15px 22px;
  font-weight: 600;
  color: #000;
}

#myModal.show a:nth-child(n):hover {
  background-color: #e8eeff;
}

#myModal .title-myModal {
  padding: 30px 22px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.6;
  padding-bottom: 30px;
}

#myModal .title-myModal p {
  font-size: larger;
}

footer {
  background-color: #1756fd;
  padding: 97px 0;
  color: white;
}

footer > .container-footer {
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.container-footer .main-footer {
  max-width: 394px;
  line-height: 18.4px;
  margin-right: 100px;
}

.main-footer .neurabot-main {
  display: block;
  margin-bottom: 20px;
}

.neurabot-desc {
  line-height: 30px;
  max-width: 305px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}

.main-footer-image {
  display: flex;
  line-height: 18.4px;
}

.main-footer-image div {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  margin-right: 30px;
}

.footer-list {
  padding-top: 15px;
  display: flex;
}

.footer-list > div > h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18.4px;
  margin-bottom: 16px;
  margin-top: 20px;
}

.footer-list > div > ul {
  margin-bottom: 25px;
}

.footer-list > div > ul > li > a {
  color: white;
  line-height: 26px;
  font-weight: 400;
}

.container-footer .company {
  width: 180px;
  line-height: 18.4px;
}

.container-footer .support {
  width: 300px;
  line-height: 18.4px;
  margin-right: 30px;
}

.support p {
  line-height: 26px;
}

.hubungi p {
  display: inline;
}

.contact2 {
  display: block;
}

@media (max-width: 991px) {
  .navbar-list {
    display: none;
  }
  .notification {
    padding-left: 20px;
  }
  .nav {
    padding: 0 20px;
  }
  #menu {
    display: inline-block;
    margin-right: 30%;
    color: #000;
    height: 36px;
    width: 128px;
  }
  #menu:hover {
    color: #1756fd;
  }
  footer > .container-footer {
    display: block;
    margin-left: 20px;
  }

  .footer-list {
    display: block;
  }
}
