.timeline {
}

.timeline .title-timeline {
  text-align: center;
  max-width: 912px;
  line-height: 46px;
  font-size: 25px;
  margin: 0 auto 48px auto;
}

.timeline .body-timeline {
  display: flex;
  justify-content: space-between;
}

.demo {
  display: flex;
  flex-direction: column;
  background-color: #ebf3f9;
  width: 89.5vw;
  height: auto;
  margin: 50px 0;
  align-items: center;
  justify-content: center;
  padding-left: 8vw;
  padding-top: 120px;
  padding-bottom: 75px;
}

.demo h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 40px;
}

.demoVideo {
  overflow: hidden;
}

.demoVideo iframe {
  overflow: hidden;
}
@media (max-width: 991px) {
  .hero {
    margin: 0;
    height: auto;
  }

  .upgrade {
    flex-direction: column;
  }

  .upgradeDescription {
    padding: 0 30px;
  }

  .upgradeImage {
    max-width: 56vw;
  }

  .upgradeImage img {
    max-width: 56vw;
  }

  .demoVideo iframe {
    width: 80vw;
  }
}
